body {
  background-color: bisque;
  display: flex;
  flex-direction: column;
}

h1 {
  text-transform: uppercase;
  text-align: center;
}

input {
  display: block;
  width: 300px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-size: 25px;
}

label {
  display: block;
  font-weight: bold;
  text-align: center;
}

span {
  font-weight: 400;
}

img {
  display: block;
  width: 200px;
  height: auto;
  border: 1px solid black;
  overflow: hidden;
}

ul.description {
  padding: 0;
}

.country-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.country-title {
  color: blue;
  text-align: center;
}

.description {
  font-weight: bold;
}

.about-country {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  margin-right: 50px;
}

.pnotify {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
